{% extends 'admin/layout/_base.html' %}
{% load static %}
{% block header %}

{% endblock %}

{% block content %}

 <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Doctors </h3>
                
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <a href="{%  url 'admin_add_doctor' %}" >
                  <button type="button" class="btn btn-gradient-primary btn-fw">Add Doctor</button>
                </a>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Description</th>
                          <th>Phone</th>
                          <th>Active</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for doctor in doctors %}
                        <tr>
                          <td>{{doctor.name}}</td>
                          <td>{{doctor.department}}</td>
                          <td>{{doctor.description}}</td>
                          <td>{{doctor.phone_number}}</td>
                          <td><label class="badge badge-danger">{{doctor.is_active}}</label></td>
                          <td>
                            <a href="{% url 'deactivate_doctor' doctor.id %}">
                              <label class="badge badge-gradient-success">
                                {% if doctor.is_active %}
                                Deactivate
                                {% else %}
                                Activate
                                {% endif %}
                              </label>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}

{% block javascript %}

{% endblock %}

