{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>


  <body>
    <div class="container-scroller">
        {% include 'admin/layout/_navbar.html' %}
{% block header %}
{% endblock %}
      <div class="container-fluid page-body-wrapper">

{% include 'admin/layout/_sidebar.html' %}
 <div class="main-panel">
{% block content %} {% endblock %}
 {% include 'admin/layout/_footer.html' %}
 </div>

    </div>

    

<script src="{% static 'admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/chart.umd.js"></script>
    <script src="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js"></script>
    <script src="{% static 'admin/js/misc.js"></script>
    <script src="{% static 'admin/js/settings.js"></script>
    <script src="{% static 'admin/js/todolist.js"></script>
    <script src="{% static 'admin/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js"></script>

</body>
</html>
