{% load static %}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
     <h2 class="sitename">Harish <span>Hospital</span></h2>
    <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="../assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <ul class="navbar-nav navbar-nav-right">
          <div class="nav-profile-text">
            <p class="mb-1 text-black"><b>{{ admin.name }}</b>  </p>
          </div>
          <i class="mdi mdi-account"></i>
      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="{% url 'logout_user' %}" title="Logout">
          <i class="mdi mdi-power"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

