{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_dashboard' %}">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_doctors' %}">
        <span class="menu-title">Doctors</span>
      
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_patients' %}">
        <span class="menu-title">Patients</span>
      
      </a>
    </li>

  </ul>
</nav>